# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd


# ============================================================
# Virtual Environment
# ============================================================

.venv/
venv/
env/


# ============================================================
# Jupyter Notebook
# ============================================================

.ipynb_checkpoints/


# ============================================================
# Dataset
# ============================================================

# FER2013 dataset
data/


# ============================================================
# Model Checkpoints
# ============================================================

# Large trained weights
*.pth
*.pt
*.ckpt


# ============================================================
# Training Outputs
# ============================================================

# Ignore generated training folders
outputs/models/


# Keep experiment results
# outputs/results/
!outputs/results/


# ============================================================
# Experiment Temporary Files
# ============================================================

experiments/*/best_model.pth


# ============================================================
# Logs
# ============================================================

*.log
logs/


# ============================================================
# Excel Temporary Files
# ============================================================

~$*.xlsx


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# OS
# ============================================================

.DS_Store
Thumbs.db


# ============================================================
# Python Cache / Build
# ============================================================

*.egg-info/
dist/
build/