# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo

# ============================================================
# Virtual Environment
# ============================================================

.venv/
venv/
env/

# ============================================================
# Jupyter Notebook
# ============================================================

.ipynb_checkpoints/

# ============================================================
# Dataset
# ============================================================

data/

# ============================================================
# Training Outputs
# ============================================================

outputs/

# Model checkpoints
*.pth
*.pt

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# OS
# ============================================================

.DS_Store
Thumbs.db